<h1>Convert <%=@initial_currency%> to <%=@target_currency%></h1>


<p>
  1 <%=@initial_currency%> equals <%=@target_amount%> <%=@target_currency%>.
</p>

<div>
  <p>Go <a href="/forex/<%=@initial_currency%>">back</a>.</p>
</div>
